matplotlib
numpy>=1.24.4
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
# scipy>=1.4.1
# torch>=1.7.0
torchvision
tqdm>=4.64.0
protobuf<=3.21.6
tensorboard>=2.4.1
pandas>=1.1.4
seaborn>=0.11.0
filterpy
# scikit-image
thop>=0.1.1
urllib3==1.26.14